*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility */
.container{
    width: 80%;
    margin: 0 auto;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.px-16{
    padding-right: 16px;
    padding-left: 16px;
}

.mb-30{
    margin-bottom: 30px;
}

.debug-box{
    height: 400px;
    background-color: lightskyblue;
}

/* header */
header{
    background-color: mediumorchid;
    height: 100px;
    margin-top: 10px;
}

.box{
    background-color: rgb(195, 205, 50);
    height: 400px;
}

/* Main content */

main{
    background-color: blue
}

.sidebar,
.main-content{
    float: left;
}

.nav{
    background-color: lightskyblue;
    height: 50px;
}

.sidebar{
    width: 20%;
    height: 400px;
}

.main-content{
    width: 60%;
    height: 400px;

}

/* footer */
footer{
    background-color: rgb(143, 7, 197);
    height: 100px;
}

