*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility */
.container{
    width: 80%;
    margin: 0 auto;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.px-16{
    padding-left: 16px;
    padding-right: 16px;
}

.mb-30{
    margin-bottom: 30px;
}

.debug-box{
    height: 50px;
    border: 1px solid black;
}

/* header */
header{
    background-color: mediumorchid;
    height: 100px;
    margin-top: 10px;
}

.box{
    background-color: navajowhite;
    height: 300px;
}

/* Main content */

main{
    background-color: lightslategrey;
}

.sidebar,
.main-content{
    float: left;
}

.nav{
    background-color: lightskyblue;
    height: 100px;
}

.sidebar{
    width: 20%;
    background-color: lightseagreen;
    height: 200px;
}

.main-content{
    width: 60%;
    background-color: lightsalmon;
    height: 200px;

}

/* footer */
footer{
    background-color: violet;
    height: 100px;
}

